@model Barberia.Models.Cita

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center mb-4">
    <h1 class="fw-bold">EDITAR</h1>
    <div class="mx-auto" style="width: 80px; height: 3px; background-color: #ffc107;"></div>
    <p class="text-muted mt-2">Actualizar Cita</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CitaId" />
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
         <!--Hcaer qeu qedite bien la informacion solo del servicio-->
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label"></label>
                <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.NombreServicio"></select>
                <span asp-validation-for="ServicioId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Actualizar" class="btn btn-primary me-3" />
                <a class="btn btn-warning" asp-action="Index">Volver a la Pagina</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
