/* wwwroot/css/site.custom.css */
body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 0.3px;
}

.card-service {
    border-left: 4px solid #ffc107;
}

.card-appointment {
    border-left: 4px solid #0d6efd;
}

.welcome-hero {
    background: linear-gradient(90deg,#fffaf0,#f8f9fa);
    padding: 2rem;
    border-radius: .6rem;
}

.small-muted {
    font-size: .9rem;
    color: #6c757d;
}

.dropdown-item {
    color: #212529 !important; /* letra negra */
}

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: #f2f2f2 !important;
        color: #000 !important;
    }

    .dropdown-item i {
        color: #6c757d; /* Color gris bonito para el icono */
    }

    .dropdown-item:hover i {
        color: #000;
    }
