@model Barberia.Models.Servicio

@{
    ViewData["Title"] = "Create";
}

<div class="text-center mb-4">
    <h1 class="fw-bold">Crear Servicio</h1>
    <div class="mx-auto" style="width: 80px; height: 3px; background-color: #ffc107;"></div>
    <p class="text-muted mt-2">Complete la información para registrar el Servicio</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreServicio" class="control-label"></label>
                <input asp-for="NombreServicio" class="form-control" />
                <span asp-validation-for="NombreServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary me-3" />
                <a class="btn btn-warning" asp-action="Index">Volver Pagina</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
