@page
@model RegisterModel
@{
    ViewData["Title"] = "Crear cuenta";
}
<style>
    .page-title {
        font-weight: 700;
        color: #1e1e1e;
        border-left: 5px solid #ffc107;
        padding-left: 12px;
        margin-bottom: 10px;
    }</style>

<div class="register-container mt-5">
    <div class="register-card shadow-lg p-4">

        <div class="text-center mb-4">
            <h1 class="page-title text-center d-inline-block">Crear una nueva cuenta</h1>
            
        </div>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email"
                       class="form-control input-dark"
                       placeholder="usuario@correo.com"
                       autocomplete="username" />
                <label asp-for="Input.Email">Correo electrónico</label>
                <span asp-validation-for="Input.Email" class="text-warning"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password"
                       type="password"
                       class="form-control input-dark"
                       placeholder="******"
                       autocomplete="new-password" />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-warning"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="Input.ConfirmPassword"
                       type="password"
                       class="form-control input-dark"
                       placeholder="******"
                       autocomplete="new-password" />
                <label asp-for="Input.ConfirmPassword">Confirmar contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-warning"></span>
            </div>

            <button type="submit" class="btn btn-warning fw-bold w-100 py-2">
                Crear cuenta
            </button>

        </form>

        <p class="text-center text-dark mt-4">
            ¿Ya tienes cuenta?
            <a asp-page="/Account/Login"
               class="text-warning text-decoration-none fw-bold">
                Iniciar sesión
            </a>
        </p>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
