<style>
    #login-partial a {
        color: white !important;
    }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Barbería El Corte</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Iconos -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="~/css/site.custom.css" />
</head>

<body class="bg-light">

    @* NAVBAR *@

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
        <div class="container">

            <!-- Inicio -->
            <a class="navbar-brand fw-bold fs-4 d-flex align-items-center" href="/">
                <i class="fa-solid fa-scissors me-2 text-warning"></i>
                Barbería <span class="text-warning"> El Corte</span>
            </a>

           

            <div class="collapse navbar-collapse justify-content-end" id="mainNav">

                <a href="/" class="btn btn-outline-light btn-sm me-3">
                    <i class="fa-solid fa-house"></i>
                    Volver a la página principal
                </a>

                <div id="login-partial" class="ms-lg-2">
                    <partial name="_LoginPartial" />
                </div>
            </div>

        </div>
    </nav>




    <div class="container my-4">
        @RenderBody()
    </div>

    @* FOOTER *@
    <footer class="bg-dark text-light py-3 mt-4 border-top border-secondary">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                © @DateTime.Now.Year Barbería El Corte — <span class="text-warning">Elegancia y estilo</span>
            </div>
            <div>
                <i class="fa-solid fa-graduation-cap me-1 text-warning"></i> Proyecto Universitario
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
